<div class="container">
    <h4 class="display-6 mt-3 text-center">User List</h4>
    <button class="btn btn-primary btn-lg mt-2" routerLink="add">+ Create</button>
    <table class="table table-info border border-1 border-secondary rounded mt-3 text-center">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">City</th>
            <th scope="col">Department</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-middle">
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
                <button class="btn btn-secondary">Edit</button>
                <button class="btn btn-danger mx-2">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
